/*Variables*/
.body {
  text-align: center;
  padding-top: 30px;
}

/*Body*/
h1 {
  font-size: 30px;
  font-variant: small-caps;
}

h2 {
  color: blue;
}

p {
  text-align: left;
  padding-left: 42%;
  margin-top: 2px;
}
